$ORIGIN example.local.
$TTL 60

@       IN  SOA     sv2.example.local. master.example.local(
                        2019060101  ; serial
                        30          ; update check interval
                        30          ; retry interval
                        86400       ; expire
                        3600        ; nagative cache
                    )

        IN  NS      dns.example.local.

dns     IN  A       10.10.11.1   
esvr    IN  A       10.10.0.1
esvr1   IN  CNAME   esvr.example.local
esvr2   IN  CNAME   esvr.example.local

;esvr1   IN  A       10.10.10.1
;esvr2   IN  A       10.10.10.2
