NAME="enp0s8"
DEVICE="enp0s8"
ONBOOT="yes"
NETBOOT="no"
IPV6INIT="no"
BOOTPROTO="none"
TYPE="Ethernet"
PROXY_METHOD="none"
BROWSER_ONLY="no"
DEFROUTE="yes"
IPV4_FAILURE_FATAL="no"
IPADDR="10.10.10.128"
PREFIX="8"
GATEWAY="10.10.16.1"
DNS1="10.10.11.1"